.app-container {

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}


.container {

  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #333;
}


.option {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}


button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {

  opacity: .9;
}

button:disabled {

  background-color: #cccc;
  cursor: not-allowed;
}



button.remove-all {
  background-color: #dc3545;
  margin-bottom: 20px;

  &:disabled {
    background-color: #cccc;
  }

}

button.remove-option {

  background-color: #6c757d;
}


input[type="text"] {
  width: calc(100%-22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}



p {

  font-weight: bold;
  font-size: 22px;
}